:root, [data-bs-theme=light] {
  --bs-primary: #FFB3D4;
  --bs-primary-rgb: 255,179,212;
  --bs-primary-text-emphasis: #664855;
  --bs-primary-bg-subtle: #FFF0F6;
  --bs-primary-border-subtle: #FFE1EE;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #FFB3D4;
  --bs-btn-border-color: #FFB3D4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFBEDA;
  --bs-btn-hover-border-color: #FFBBD8;
  --bs-btn-focus-shadow-rgb: 38,27,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFC2DD;
  --bs-btn-active-border-color: #FFBBD8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #FFB3D4;
  --bs-btn-disabled-border-color: #FFB3D4;
}

.btn-outline-primary {
  --bs-btn-color: #FFB3D4;
  --bs-btn-border-color: #FFB3D4;
  --bs-btn-focus-shadow-rgb: 255,179,212;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFB3D4;
  --bs-btn-hover-border-color: #FFB3D4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFB3D4;
  --bs-btn-active-border-color: #FFB3D4;
  --bs-btn-disabled-color: #FFB3D4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FFB3D4;
}

